<div class="page" data-ng-controller="budgetCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading"><span class=""></span>Budget</div>
        <div class="panel-body ui-map " data-slim-scroll data-scroll-height="200px">
            <p>in questa pagina puoi gestire le tue categorie assegnando ad ognuna il relativo budget</p>
        </div>
    </div>
   <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class=""></span> <button class="btn btn-w-md btn-gap btn-success" data-ng-click="newBudget()">New</button></strong></div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        budget Name
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                    </div></th>
                    <th><div class="th">
                        shared
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('shared') "
                              data-ng-class="{active: row == 'shared'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-shared') "
                              data-ng-class="{active: row == '-shared'}"></span>
                    </div></th>
                    <th><div class="th">
                        budget
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('budget') "
                              data-ng-class="{active: row == 'budget'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-budget') "
                              data-ng-class="{active: row == '-budget'}"></span>
                    </div></th>
                    <th><div class="th">
                        used
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('used') "
                              data-ng-class="{active: row == 'used'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-used') "
                              data-ng-class="{active: row == '-used'}"></span>
                    </div></th>
                     <th><div class="th">
                        Actions
                    </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="budget in currentPagebudgets">
                    <td>{{budget.name}}</td>
                    <td>{{budget.shared}}</td>
                    <td>{{budget.budget}}</td>
                    <td>{{budget.used}}</td>
                    <td style="width:300px;"><button class="btn btn-w-md btn-gap btn-warning" data-ng-click="editBudget(budget.objectId)">+</button>
                    <button class="btn btn-w-md btn-gap btn-danger" data-ng-click="deleteBudget(budget.objectId)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredbudgets.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>

<script type="text/ng-template" id="editBudget.html">

    <div class="modal-body">
              
                    <form role="form" class="ng-pristine ng-valid">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" data-ng-model="budget.name" placeholder="name">
                        </div>
                        <div class="form-group">
                           <label for="budget">Budget</label>
                            <input type="text" class="form-control" id="budget" data-ng-model="budget.budget" placeholder="budget">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-model="budget.shared"> Shared
                            </label>
                        </div>
                        <center><button type="submit" class="btn btn-primary btn-w-md">Submit</button></center>
                    </form>

    </div>
</script>